<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">
  <title>{{ page_title }}</title>
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Brand Visual DNA Stylesheet -->
  {{ 'ss-brand-core.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}
</head>
<body>
  <main role="main">
    {{ content_for_layout }}
  </main>
</body>
</html>
